.cardContainer {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 5px 30px  rgba(0, 0, 0, 0.13);
    min-width: 100%;
    min-height: 100vh;
    margin-top: 3px !important;
   
}
